@font-face {
	font-family: "Inter Custom";
	src: url("/fonts/InterVariable.woff2") format("woff2-variations");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

:root {
	font-family: "Inter Custom", system-ui, sans-serif;
	--color-secondary: #f2f4f3;
	--color-font: #070b07;
}
.hidden {
	display: none;
}
