@font-face {
	font-family: "Inter Custom";
	src: url("/fonts/InterVariable.woff2") format("woff2-variations");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

:root {
	font-family: "Inter Custom", system-ui, sans-serif;
	--color-background: #f2f4f3;
	--color-font: #070b07;
	--color-accent: #57ec5e;
	--color-primary: #006e1a;
	--color-secondary: #8ae68e;
}
.hidden {
	display: none;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}
