---
import "../styles/global.css";
---
<header class="bg-mist-200 w-full">
    <nav class="px-4">
        <ul class="flex justify-between">
            <li class="">
                <a href="/">Yanis Kouidri</a>
            </li>
            <li><a href="#Home">Accueil</a></li>
            <li><a href="#PhD">Doctorat</a></li>
            <li><a href="#Journey">Parcours</a></li>
            <li><a href="#Skills">Compétences</a></li>
            <li><a href="#Projects">Projets</a></li>
            <li class="">
                <a href="#Contacts">Contacts</a>
            </li>
        </ul>
    </nav>
</header>