---
import "../styles/global.css";
---
<header class="bg-mist-200 w-full">
    <nav class="px-4 flex justify-between items-center">
        <a>Yanis Kouidri</a>
        <button> Menu </button>
    </nav>
</header>