---
import { Menu } from "lucide-astro";
---
<style>
    nav {
        background-color: var(--color-secondary);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.25rem;
    }

    #my-name {
        font-size: 1.2rem;
        font-weight: 800;
        color: var(--color-font);
        text-decoration: none;
    }

    #menu {
        border: 0;
        background: transparent;
        padding: 0;
    }

</style>

<header>
    <nav>
        <a id="my-name" href="/">Yanis Kouidri</a>
        <button id="menu" type="button">
            <Menu />
        </button>
    </nav>
</header>