---
import "../styles/global.css";
---
<div class="p-1 m-1">
    <h1 class="center">Welcome</h1>
</div>
<div class="p-2 m-1">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et quam bibendum, laoreet ex id, eleifend nisi. Quisque massa turpis, placerat vel neque vel, finibus dignissim erat. Mauris et quam sodales, commodo erat feugiat, fringilla nunc. Nulla nec lectus diam. Donec nec magna ut turpis dapibus semper in eget velit. Suspendisse vel condimentum sapien. Ut non varius urna.
    </p>
</div>