---
import "../styles/global.css";
---
<div class="p-1 m-1">
    <h1 class="center">Yanis Kouidri</h1>
</div>
<div class="p-2 m-1">
    <p>
        Doctorant en première année de thèse CIFRE entre l'IRIT et Neusta
</div>