---
import AProject from "./AProject.astro";

const projects = [
	{
		title: "Personal-website-v1",
		description:
			"Mon premier gros projet web, c'est l'ancêtre de ce site. L'objectif était pour moi d'apprendre et de mettre en pratique le développement web full stack, j'ai alors choisi la stack MERN (MongoDB Express React Node.js). J'ai alors conçu du front end en React, le backend en Node.js avec Express, la communication entre les deux avec des API REST, le stockage des informations dans une base de données no-SQL MongoDB. J'ai également ajouté un système d'envoi de fichier avec multer et en implémentant un mécanisme CRUD (Create Read Update Delete). J'ai par ailleurs ajouté un système d'authentification et d'inscription en utilise les JSON web token et argon2id pour le hachage des mots de passe et leur stockage sécurisé en base de données. Pour le stockage du contenu du site, j'ai utilisé le CMS Strapi. Au cours de ce projet, j'ai beaucoup appris, cela dit, j'ai décidé de créer une nouvelle version du site beaucoup plus légère, car une infrastructure aussi lourde pour un simple portfolio est selon moi inadaptée.",
		technologies: [
			"React",
			"Node.js",
			"MongoDB",
			"Express",
			"JWT",
			"JavaScript",
			"Strapi",
			"Multer",
		],
		githubUrl: "https://github.com/yanis-kouidri/personal-website-v1",
		date: "2024",
		imagePath: "/src/assets/projects/screenshot-personal-website-v1.png",
	},
	{
		title: "Personal-website-v2",
		description:
			"M'étant rendu compte que la V1 de mon site commençait à devenir inutilement complexe, j'ai décidé de repartir sur de nouvelles bases en créant la V2 de ce site web que vous consultez actuellement. Ce site web n'est composé que de HTML 5 et CSS 3 statiques construit à parti du Framework Astro. Cela a pour effet de rendre le site extrêmement léger et rapide. Tout le contenu du site est stocké dans des fichiers Markdown. C'était également l'occasion pour moi de tester et d'apprendre à utiliser le framework Astro, très adapté dans le cas d'un site centré sur le contenu. J'ai de plus migré de Node.js à Bun pour la gestion du runtime JS pendant le développement.",
		technologies: ["Astro", "HTML5", "CSS3", "Markdown", "Bun", "JavaScript"],
		githubUrl: "https://github.com/yanis-kouidri/personal-website-v2",
		date: "2026",
		imagePath: "/src/assets/projects/screenshot-personal-website-v2.png",
	},
];
---

<section id="projects" class="section projects-container">
  <div class="container">
    <h2 class="section-title">Mes projets</h2>
    
    <div class="projects-grid">
      {projects.map((project) => (
        <AProject {...project} />
      ))}
    </div>
  </div>
</section>

<style>
  .projects-container {
    display: flex;
    justify-content: center;
  }

  .projects-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }


  @media (min-width: 1024px) {
    .projects-container {
      display: flex;
      justify-content: flex-start;
  }
  }
</style>