---
import { getCollection } from "astro:content";
import AProject from "./AProject.astro";

const projectEntries = await getCollection("projects");

const sortedProjects = projectEntries.sort(
  (a, b) => Number(b.data.date) - Number(a.data.date),
);
---

<section id="projects" class="section projects-container">
  <div class="container">
    <h2 class="section-title">Mes projets</h2>

    <div class="projects-grid">
      {sortedProjects.map((project) => <AProject project={project} />)}
    </div>
  </div>
</section>

<style>
  .projects-container {
    display: flex;
    justify-content: center;
  }

  .projects-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  @media (min-width: 1024px) {
    .projects-container {
      display: flex;
      justify-content: flex-start;
    }
  }
</style>
